.comment{
    white-space: pre-wrap;
    font-size: 15px;
    margin-top: 10px;
}

.heart{
    border: none;
    color: red;
    font-size: 20px;
}

.black-heart{
    border: none;
    color: black;
    font-size: 20px;
}

.star{
    color: #ff4500;
    margin-bottom: 10px;
}